[ActionPlugins]
0=org.kde.contextmenu

[LayoutSettings]
activities=
backgroundStyle=0
color=blue
icon=
lastUsedActivity=
launchers=applications:systemsettings.desktop,applications:org.kde.dolphin.desktop,applications:steam.desktop,applications:firefox.desktop,applications:org.kde.konsole.desktop
name=KryonOS
schemeStyle=0
showInMenu=true
version=2

[Containments][1]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.latte.containment
wallpaperplugin=org.kde.image

[Containments][1][ConfigDialog]
DialogHeight=540
DialogWidth=800

[Containments][1][General]
alignment=2
animationLauncherBouncing=true
animationWindowInAttentionBouncing=true
animationWindowInScaling=true
appletOrder=2;3;4
autoDecreaseIconSize=true
backgroundOnlyOnMaximized=false
blurEnabled=true
distanceLaunchersIndicators=1
durationBetweenIndicators=0
enableShadows=true
extraDockSize=0
iconSize=48
zoomLevel=88
maxLength=68
maxLengthEdgeLength=68
minLength=8
mouseWheelActions=true
offset=0
panelPosition=10
panelSize=100
panelTransparency=62
plasmaBackgroundForPopups=true
proportionIconSize=-1
revealThickness=100
screenEdgeMargin=6
shrinkThickMargins=true
showGlow=true
solidBackgroundForMaximized=false
splitterPosition=-1;-1
theme_backgroundStyle=0
useThemePanel=false
visibility=1
zoomHovered=true

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration][General]
launchers=

[Containments][1][Applets][3]
immutability=1
plugin=org.kde.plasma.icontasks

[Containments][1][Applets][3][Configuration][General]
groupingStrategy=1
launchers=applications:org.kde.dolphin.desktop,applications:firefox.desktop,applications:steam.desktop,applications:org.kde.konsole.desktop,applications:systemsettings.desktop
onlyGroupWhenFull=false
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=false
showOnlyCurrentScreen=false
showToolTips=true

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.latte.separator

[Containments][1][Applets][4][Configuration][General]
launchers=
